Solutions/mpa_SAPProcurement/src/CanvasApps/src/mpa_sapvendormanagement_42919/pkgs/Wadl/ReadVendor.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReadVendor" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ReadVendor" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_Status_def" />
      <string name="ResponseActionOutput_Header_def_Country_def" />
      <string name="ResponseActionOutput_Header_def_VendorName_def" />
      <string name="ResponseActionOutput_Header_def_City_def" />
      <string name="ResponseActionOutput_Header_def_PostalCode_def" />
      <string name="ResponseActionOutput_Header_def_Street_def" />
      <string name="ResponseActionOutput_Header_def_AccountGroup_def" />
      <string name="ResponseActionOutput_Header_def_Region_def" />
      <string name="ResponseActionOutput_Header_def_Vendor_def" />
      <string name="ResponseActionOutput_Header_def_FullName_def" />
      <object name="ResponseActionOutput_Header_def">
        <property name="Country" type="string" />
        <property name="VendorName" type="string" />
        <property name="City" type="string" />
        <property name="PostalCode" type="string" />
        <property name="Street" type="string" />
        <property name="AccountGroup" type="string" />
        <property name="Region" type="string" />
        <property name="Vendor" type="string" />
        <property name="FullName" type="string" />
      </object>
      <string name="ResponseActionOutput_Vendor_def" />
      <string name="ResponseActionOutput_CompanyCodes_def_items_def_ID_def" />
      <string name="ResponseActionOutput_CompanyCodes_def_items_def_GLAccount_def" />
      <string name="ResponseActionOutput_CompanyCodes_def_items_def_CompanyCode_def" />
      <string name="ResponseActionOutput_CompanyCodes_def_items_def_PaymentTerms_def" />
      <string name="ResponseActionOutput_CompanyCodes_def_items_def_PaymentMethods_def" />
      <object name="ResponseActionOutput_CompanyCodes_def_items_def">
        <property name="ID" type="string" />
        <property name="GLAccount" type="string" />
        <property name="CompanyCode" type="string" />
        <property name="PaymentTerms" type="string" />
        <property name="PaymentMethods" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_CompanyCodes_def_items_def" name="ResponseActionOutput_CompanyCodes_def" />
      <string name="ResponseActionOutput_PurchasingOrgs_def_items_def_ID_def" />
      <string name="ResponseActionOutput_PurchasingOrgs_def_items_def_PurchasingOrganization_def" />
      <string name="ResponseActionOutput_PurchasingOrgs_def_items_def_PurchasingGroup_def" />
      <string name="ResponseActionOutput_PurchasingOrgs_def_items_def_PaymentTerms_def" />
      <string name="ResponseActionOutput_PurchasingOrgs_def_items_def_Currency_def" />
      <object name="ResponseActionOutput_PurchasingOrgs_def_items_def">
        <property name="ID" type="string" />
        <property name="PurchasingOrganization" type="string" />
        <property name="PurchasingGroup" type="string" />
        <property name="PaymentTerms" type="string" />
        <property name="Currency" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_PurchasingOrgs_def_items_def" name="ResponseActionOutput_PurchasingOrgs_def" />
      <string name="ResponseActionOutput_Emails_def_items_def_ID_def" />
      <string name="ResponseActionOutput_Emails_def_items_def_Email_def" />
      <boolean name="ResponseActionOutput_Emails_def_items_def_Default_def" />
      <object name="ResponseActionOutput_Emails_def_items_def">
        <property name="ID" type="string" />
        <property name="Email" type="string" />
        <property name="Default" type="boolean" />
      </object>
      <array typeRef="ResponseActionOutput_Emails_def_items_def" name="ResponseActionOutput_Emails_def" />
      <string name="ResponseActionOutput_Phones_def_items_def_ID_def" />
      <string name="ResponseActionOutput_Phones_def_items_def_Country_def" />
      <string name="ResponseActionOutput_Phones_def_items_def_Phone_def" />
      <string name="ResponseActionOutput_Phones_def_items_def_Extension_def" />
      <boolean name="ResponseActionOutput_Phones_def_items_def_Default_def" />
      <object name="ResponseActionOutput_Phones_def_items_def">
        <property name="ID" type="string" />
        <property name="Country" type="string" />
        <property name="Phone" type="string" />
        <property name="Extension" type="string" />
        <property name="Default" type="boolean" />
      </object>
      <array typeRef="ResponseActionOutput_Phones_def_items_def" name="ResponseActionOutput_Phones_def" />
      <string name="ResponseActionOutput_Messages_def_items_def_Message_def" />
      <object name="ResponseActionOutput_Messages_def_items_def">
        <property name="Message" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Messages_def_items_def" name="ResponseActionOutput_Messages_def" />
      <object name="ResponseActionOutput">
        <property name="Status" type="string" />
        <property name="Header" typeRef="ResponseActionOutput_Header_def" />
        <property name="Vendor" type="string" />
        <property name="CompanyCodes" typeRef="ResponseActionOutput_CompanyCodes_def" />
        <property name="PurchasingOrgs" typeRef="ResponseActionOutput_PurchasingOrgs_def" />
        <property name="Emails" typeRef="ResponseActionOutput_Emails_def" />
        <property name="Phones" typeRef="ResponseActionOutput_Phones_def" />
        <property name="Messages" typeRef="ResponseActionOutput_Messages_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="JSON" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>