Solutions/mpa_SAPProcurement/src/CanvasApps/src/mpa_sapvendormanagement_42919/pkgs/Wadl/ReadGoodsReceiptList.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReadGoodsReceiptList" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ReadGoodsReceiptList" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_List_def_items_def_PurchaseOrder_def" />
      <string name="ResponseActionOutput_List_def_items_def_Vendor_def" />
      <string name="ResponseActionOutput_List_def_items_def_MovementType_def" />
      <string name="ResponseActionOutput_List_def_items_def_Material_def" />
      <string name="ResponseActionOutput_List_def_items_def_PostingDate_def" />
      <string name="ResponseActionOutput_List_def_items_def_FiscalYear_def" />
      <string name="ResponseActionOutput_List_def_items_def_MaterialDocument_def" />
      <string name="ResponseActionOutput_List_def_items_def_Location_def" />
      <object name="ResponseActionOutput_List_def_items_def">
        <property name="PurchaseOrder" type="string" />
        <property name="Vendor" type="string" />
        <property name="MovementType" type="string" />
        <property name="Material" type="string" />
        <property name="PostingDate" type="string" />
        <property name="FiscalYear" type="string" />
        <property name="MaterialDocument" type="string" />
        <property name="Location" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_List_def_items_def" name="ResponseActionOutput_List_def" />
      <string name="ResponseActionOutput_Names_def_items_def_Vendor_def" />
      <string name="ResponseActionOutput_Names_def_items_def_Name_def" />
      <object name="ResponseActionOutput_Names_def_items_def">
        <property name="Vendor" type="string" />
        <property name="Name" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Names_def_items_def" name="ResponseActionOutput_Names_def" />
      <string name="ResponseActionOutput_Status_def" />
      <string name="ResponseActionOutput_Messages_def_items_def_Message_def" />
      <object name="ResponseActionOutput_Messages_def_items_def">
        <property name="Message" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Messages_def_items_def" name="ResponseActionOutput_Messages_def" />
      <object name="ResponseActionOutput">
        <property name="List" typeRef="ResponseActionOutput_List_def" />
        <property name="Names" typeRef="ResponseActionOutput_Names_def" />
        <property name="Status" type="string" />
        <property name="Messages" typeRef="ResponseActionOutput_Messages_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="JSON" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>