Accelerators/mpa_SAPProcurement/src/CanvasApps/src/mpa_sapvendormanagement_42919/pkgs/Wadl/ReadGLAccount.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReadGLAccount" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ReadGLAccount" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_Header_def_Chart_def" />
      <string name="ResponseActionOutput_Header_def_GLAccount_def" />
      <string name="ResponseActionOutput_Header_def_CreatedOn_def" />
      <string name="ResponseActionOutput_Header_def_CreatedBy_def" />
      <string name="ResponseActionOutput_Header_def_AccountGroup_def" />
      <string name="ResponseActionOutput_Header_def_BalanceSheetAccount_def" />
      <string name="ResponseActionOutput_Header_def_CompanyCode_def" />
      <string name="ResponseActionOutput_Header_def_FieldStatusGroup_def" />
      <string name="ResponseActionOutput_Header_def_Currency_def" />
      <string name="ResponseActionOutput_Header_def_SortKey_def" />
      <string name="ResponseActionOutput_Header_def_Description_def" />
      <object name="ResponseActionOutput_Header_def">
        <property name="Chart" type="string" />
        <property name="GLAccount" type="string" />
        <property name="CreatedOn" type="string" />
        <property name="CreatedBy" type="string" />
        <property name="AccountGroup" type="string" />
        <property name="BalanceSheetAccount" type="string" />
        <property name="CompanyCode" type="string" />
        <property name="FieldStatusGroup" type="string" />
        <property name="Currency" type="string" />
        <property name="SortKey" type="string" />
        <property name="Description" type="string" />
      </object>
      <string name="ResponseActionOutput_Messages_def_items_def_Message_def" />
      <object name="ResponseActionOutput_Messages_def_items_def">
        <property name="Message" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Messages_def_items_def" name="ResponseActionOutput_Messages_def" />
      <string name="ResponseActionOutput_Status_def" />
      <object name="ResponseActionOutput">
        <property name="Header" typeRef="ResponseActionOutput_Header_def" />
        <property name="Messages" typeRef="ResponseActionOutput_Messages_def" />
        <property name="Status" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="JSON" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>