Solutions/mpa_SAPSetupAssistant/src/CanvasApps/src/mpa_saptemplateinstaller_deb20/pkgs/Wadl/Copyof-InstallTemplateGetCurrentEnvironment.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Copyof-InstallTemplateGetCurrentEnvironment" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Copy of - InstallTemplateGetCurrentEnvironment" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_id_def" />
      <string name="ResponseActionOutput_name_def" />
      <string name="ResponseActionOutput_displayname_def" />
      <string name="ResponseActionOutput_location_def" />
      <string name="ResponseActionOutput_databasetype_def" />
      <string name="ResponseActionOutput_instanceurl_def" />
      <string name="ResponseActionOutput_domainname_def" />
      <string name="ResponseActionOutput_baselanguage_def" />
      <string name="ResponseActionOutput_resourceid_def" />
      <string name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_message_def" />
      <object name="ResponseActionOutput">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="displayname" type="string" />
        <property name="location" type="string" />
        <property name="databasetype" type="string" />
        <property name="instanceurl" type="string" />
        <property name="domainname" type="string" />
        <property name="baselanguage" type="string" />
        <property name="resourceid" type="string" />
        <property name="status" type="string" />
        <property name="message" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="API Version" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>