Solutions/mpa_SAPProcurement/src/CanvasApps/src/mpa_sapvendorpayments_40707/pkgs/Wadl/ReadVendorPayment.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReadVendorPayment" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ReadVendorPayment" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_Status_def" />
      <string name="ResponseActionOutput_Payment_def" />
      <string name="ResponseActionOutput_Header_def_Payment_def" />
      <string name="ResponseActionOutput_Header_def_CompanyCode_def" />
      <string name="ResponseActionOutput_Header_def_FiscalYear_def" />
      <string name="ResponseActionOutput_Header_def_ObjectKey_def" />
      <string name="ResponseActionOutput_Header_def_DocumentType_def" />
      <string name="ResponseActionOutput_Header_def_HeaderText_def" />
      <string name="ResponseActionOutput_Header_def_ReferenceNumber_def" />
      <string name="ResponseActionOutput_Header_def_CreatedBy_def" />
      <string name="ResponseActionOutput_Header_def_PostingDate_def" />
      <string name="ResponseActionOutput_Header_def_DocumentDate_def" />
      <string name="ResponseActionOutput_Header_def_Currency_def" />
      <string name="ResponseActionOutput_Header_def_VendorName_def" />
      <string name="ResponseActionOutput_Header_def_Vendor_def" />
      <string name="ResponseActionOutput_Header_def_Status_def" />
      <string name="ResponseActionOutput_Header_def_VendorInvoice_def" />
      <object name="ResponseActionOutput_Header_def">
        <property name="Payment" type="string" />
        <property name="CompanyCode" type="string" />
        <property name="FiscalYear" type="string" />
        <property name="ObjectKey" type="string" />
        <property name="DocumentType" type="string" />
        <property name="HeaderText" type="string" />
        <property name="ReferenceNumber" type="string" />
        <property name="CreatedBy" type="string" />
        <property name="PostingDate" type="string" />
        <property name="DocumentDate" type="string" />
        <property name="Currency" type="string" />
        <property name="VendorName" type="string" />
        <property name="Vendor" type="string" />
        <property name="Status" type="string" />
        <property name="VendorInvoice" type="string" />
      </object>
      <string name="ResponseActionOutput_Items_def_items_def_Item_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Type_def" />
      <string name="ResponseActionOutput_Items_def_items_def_GlAccountRaw_def" />
      <number name="ResponseActionOutput_Items_def_items_def_Amount_def" />
      <string name="ResponseActionOutput_Items_def_items_def_CrudType_def" />
      <string name="ResponseActionOutput_Items_def_items_def_GlAccount_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Vendor_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Payment_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Status_def" />
      <string name="ResponseActionOutput_Items_def_items_def_ClearingDate_def" />
      <string name="ResponseActionOutput_Items_def_items_def_CostCenter_def" />
      <string name="ResponseActionOutput_Items_def_items_def_TermsOfPaymentKey_def" />
      <string name="ResponseActionOutput_Items_def_items_def_BaselineDate_def" />
      <string name="ResponseActionOutput_Items_def_items_def_PaymentMethod_def" />
      <string name="ResponseActionOutput_Items_def_items_def_PurchaseOrder_def" />
      <string name="ResponseActionOutput_Items_def_items_def_PurchaseOrderLine_def" />
      <string name="ResponseActionOutput_Items_def_items_def_FiscalYear_def" />
      <string name="ResponseActionOutput_Items_def_items_def_CompanyCode_def" />
      <object name="ResponseActionOutput_Items_def_items_def">
        <property name="Item" type="string" />
        <property name="Type" type="string" />
        <property name="GlAccountRaw" type="string" />
        <property name="Amount" type="number" />
        <property name="CrudType" type="string" />
        <property name="GlAccount" type="string" />
        <property name="Vendor" type="string" />
        <property name="Payment" type="string" />
        <property name="Status" type="string" />
        <property name="ClearingDate" type="string" />
        <property name="CostCenter" type="string" />
        <property name="TermsOfPaymentKey" type="string" />
        <property name="BaselineDate" type="string" />
        <property name="PaymentMethod" type="string" />
        <property name="PurchaseOrder" type="string" />
        <property name="PurchaseOrderLine" type="string" />
        <property name="FiscalYear" type="string" />
        <property name="CompanyCode" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Items_def_items_def" name="ResponseActionOutput_Items_def" />
      <string name="ResponseActionOutput_GlAccounts_def_items_def_Description_def" />
      <string name="ResponseActionOutput_GlAccounts_def_items_def_GlAccount_def" />
      <object name="ResponseActionOutput_GlAccounts_def_items_def">
        <property name="Description" type="string" />
        <property name="GlAccount" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_GlAccounts_def_items_def" name="ResponseActionOutput_GlAccounts_def" />
      <string name="ResponseActionOutput_Messages_def_items_def_Message_def" />
      <object name="ResponseActionOutput_Messages_def_items_def">
        <property name="Message" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Messages_def_items_def" name="ResponseActionOutput_Messages_def" />
      <object name="ResponseActionOutput">
        <property name="Status" type="string" />
        <property name="Payment" type="string" />
        <property name="Header" typeRef="ResponseActionOutput_Header_def" />
        <property name="Items" typeRef="ResponseActionOutput_Items_def" />
        <property name="GlAccounts" typeRef="ResponseActionOutput_GlAccounts_def" />
        <property name="Messages" typeRef="ResponseActionOutput_Messages_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="PaymentNumber" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>