Accelerators/mpa_SAPProcurement/src/CanvasApps/src/mpa_saprequisitionmanagement_f3a72/pkgs/Wadl/ReadRequisition.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReadRequisition" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ReadRequisition" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_PurchaseRequisitionNumber_def" />
      <string name="ResponseActionOutput_Header_def_PurchasingOrganization_def" />
      <string name="ResponseActionOutput_Header_def_PurchasingGroup_def" />
      <string name="ResponseActionOutput_Header_def_VendorName_def" />
      <string name="ResponseActionOutput_Header_def_Vendor_def" />
      <string name="ResponseActionOutput_Header_def_Currency_def" />
      <object name="ResponseActionOutput_Header_def">
        <property name="PurchasingOrganization" type="string" />
        <property name="PurchasingGroup" type="string" />
        <property name="VendorName" type="string" />
        <property name="Vendor" type="string" />
        <property name="Currency" type="string" />
      </object>
      <string name="ResponseActionOutput_Items_def_items_def_Location_def" />
      <string name="ResponseActionOutput_Items_def_items_def_MaterialNumber_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Description_def" />
      <number name="ResponseActionOutput_Items_def_items_def_Quantity_def" />
      <string name="ResponseActionOutput_Items_def_items_def_ItemNumber_def" />
      <string name="ResponseActionOutput_Items_def_items_def_UnitOfMeasure_def" />
      <number name="ResponseActionOutput_Items_def_items_def_UnitPrice_def" />
      <string name="ResponseActionOutput_Items_def_items_def_PurchaseOrderNumber_def" />
      <string name="ResponseActionOutput_Items_def_items_def_PurchaseOrderLine_def" />
      <object name="ResponseActionOutput_Items_def_items_def">
        <property name="Location" type="string" />
        <property name="MaterialNumber" type="string" />
        <property name="Description" type="string" />
        <property name="Quantity" type="number" />
        <property name="ItemNumber" type="string" />
        <property name="UnitOfMeasure" type="string" />
        <property name="UnitPrice" type="number" />
        <property name="PurchaseOrderNumber" type="string" />
        <property name="PurchaseOrderLine" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Items_def_items_def" name="ResponseActionOutput_Items_def" />
      <string name="ResponseActionOutput_Status_def" />
      <string name="ResponseActionOutput_Messages_def_items_def_Message_def" />
      <object name="ResponseActionOutput_Messages_def_items_def">
        <property name="Message" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Messages_def_items_def" name="ResponseActionOutput_Messages_def" />
      <object name="ResponseActionOutput">
        <property name="PurchaseRequisitionNumber" type="string" />
        <property name="Header" typeRef="ResponseActionOutput_Header_def" />
        <property name="Items" typeRef="ResponseActionOutput_Items_def" />
        <property name="Status" type="string" />
        <property name="Messages" typeRef="ResponseActionOutput_Messages_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="JSON" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>