Solutions/mpa_SAPProcurement/src/CanvasApps/src/mpa_SAPGoodsReceiptApp/pkgs/Wadl/ReadGoodsReceipt.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReadGoodsReceipt" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ReadGoodsReceipt" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_Status_def" />
      <string name="ResponseActionOutput_Receipt_def" />
      <string name="ResponseActionOutput_Header_def_Type_def" />
      <string name="ResponseActionOutput_Header_def_Receipt_def" />
      <string name="ResponseActionOutput_Header_def_CreatedOn_def" />
      <string name="ResponseActionOutput_Header_def_PostingDate_def" />
      <string name="ResponseActionOutput_Header_def_FiscalYear_def" />
      <string name="ResponseActionOutput_Header_def_Status_def" />
      <string name="ResponseActionOutput_Header_def_DeliveryNote_def" />
      <string name="ResponseActionOutput_Header_def_CreatedBy_def" />
      <string name="ResponseActionOutput_Header_def_DocumentDate_def" />
      <object name="ResponseActionOutput_Header_def">
        <property name="Type" type="string" />
        <property name="Receipt" type="string" />
        <property name="CreatedOn" type="string" />
        <property name="PostingDate" type="string" />
        <property name="FiscalYear" type="string" />
        <property name="Status" type="string" />
        <property name="DeliveryNote" type="string" />
        <property name="CreatedBy" type="string" />
        <property name="DocumentDate" type="string" />
      </object>
      <string name="ResponseActionOutput_Items_def_items_def_ItemNumber_def" />
      <string name="ResponseActionOutput_Items_def_items_def_PurchaseOrder_def" />
      <string name="ResponseActionOutput_Items_def_items_def_PurchaseOrderItemNumber_def" />
      <string name="ResponseActionOutput_Items_def_items_def_MaterialNumber_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Location_def" />
      <number name="ResponseActionOutput_Items_def_items_def_TotalPrice_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Currency_def" />
      <number name="ResponseActionOutput_Items_def_items_def_Quantity_def" />
      <string name="ResponseActionOutput_Items_def_items_def_Vendor_def" />
      <string name="ResponseActionOutput_Items_def_items_def_UnitOfMeasure_def" />
      <string name="ResponseActionOutput_Items_def_items_def_StorageLocation_def" />
      <object name="ResponseActionOutput_Items_def_items_def">
        <property name="ItemNumber" type="string" />
        <property name="PurchaseOrder" type="string" />
        <property name="PurchaseOrderItemNumber" type="string" />
        <property name="MaterialNumber" type="string" />
        <property name="Location" type="string" />
        <property name="TotalPrice" type="number" />
        <property name="Currency" type="string" />
        <property name="Quantity" type="number" />
        <property name="Vendor" type="string" />
        <property name="UnitOfMeasure" type="string" />
        <property name="StorageLocation" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Items_def_items_def" name="ResponseActionOutput_Items_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_ItemNumber_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_PurchaseOrderNumber_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_PurchaseOrderItemNumber_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_MaterialNumber_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_Location_def" />
      <number name="ResponseActionOutput_ReversedItems_def_items_def_TotalPrice_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_Currency_def" />
      <number name="ResponseActionOutput_ReversedItems_def_items_def_Quantity_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_Vendor_def" />
      <string name="ResponseActionOutput_ReversedItems_def_items_def_UnitOfMeasure_def" />
      <object name="ResponseActionOutput_ReversedItems_def_items_def">
        <property name="ItemNumber" type="string" />
        <property name="PurchaseOrderNumber" type="string" />
        <property name="PurchaseOrderItemNumber" type="string" />
        <property name="MaterialNumber" type="string" />
        <property name="Location" type="string" />
        <property name="TotalPrice" type="number" />
        <property name="Currency" type="string" />
        <property name="Quantity" type="number" />
        <property name="Vendor" type="string" />
        <property name="UnitOfMeasure" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_ReversedItems_def_items_def" name="ResponseActionOutput_ReversedItems_def" />
      <string name="ResponseActionOutput_Vendor_def_Vendor_def" />
      <string name="ResponseActionOutput_Vendor_def_VendorName_def" />
      <object name="ResponseActionOutput_Vendor_def">
        <property name="Vendor" type="string" />
        <property name="VendorName" type="string" />
      </object>
      <string name="ResponseActionOutput_Materials_def_items_def_PurchaseOrderNumber_def" />
      <string name="ResponseActionOutput_Materials_def_items_def_MaterialDescription_def" />
      <string name="ResponseActionOutput_Materials_def_items_def_ItemNumber_def" />
      <object name="ResponseActionOutput_Materials_def_items_def">
        <property name="PurchaseOrderNumber" type="string" />
        <property name="MaterialDescription" type="string" />
        <property name="ItemNumber" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Materials_def_items_def" name="ResponseActionOutput_Materials_def" />
      <string name="ResponseActionOutput_PurchaseOrderNumber_def" />
      <object name="ResponseActionOutput">
        <property name="Status" type="string" />
        <property name="Receipt" type="string" />
        <property name="Header" typeRef="ResponseActionOutput_Header_def" />
        <property name="Items" typeRef="ResponseActionOutput_Items_def" />
        <property name="ReversedItems" typeRef="ResponseActionOutput_ReversedItems_def" />
        <property name="Vendor" typeRef="ResponseActionOutput_Vendor_def" />
        <property name="Materials" typeRef="ResponseActionOutput_Materials_def" />
        <property name="PurchaseOrderNumber" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Goods Receipt Number" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>